ul{
    margin: 0;
}

.data-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    font-size: 1.2rem;
}

.no-data{
    width: 95%;
    text-align: center;
    gap: 1rem;
    font-size: 1.5rem;
}

.data-list{
    width: 90%;
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 8px;
}

.data__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(97, 97, 97);
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
}


@media only screen and (max-width: 992px){
    .data-container{
        padding: 0;
        gap: 2rem;
    }

    .data__item{
        flex-direction: column;
        gap: 0.5rem;
    }

    .data-list{
        width: 82%;
    }

    .no-data{
        font-size: 1.2rem;
    }
    
}
