.btn-primary {
    font-size: 1.25rem;
    background-color: #ffae00;
    border: 1px solid #ffae00;
    padding: 0.5rem 1.5rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    color: #2c2922;
    border-radius: 4px;
}
  
.btn-primary:hover,
.btn-primary:active {
    background-color: #ffc524;
    border-color: #ffc524;
    cursor: pointer;
}


@media only screen and (max-width: 992px){
    .btn-primary {
        font-size: 1.1rem;
    }
}