.expense-list{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expense-list__fallback{
    color: white;
    text-align: center;
}


@media only screen and (max-width: 992px){
    .expense-list__fallback{
        font-size: 1.2rem;
    }
}